[Unit]
Description=Tilt logger
Requires=
After=

[Service]
Type=simple
ExecStart=/bin/sh -c "source /home/flo/dev/venv/bin/activate && python -m tilt_logger.__main__ --db-pass $(systemd-ask-password --accept-cached Tilt logger)"
Restart=always

[Install]
WantedBy=multi-user.target
